# Ignore environment files
.env
.env.example

# Ignore git files
.gitattributes
.gitignore

# Ignore build scripts
build-install.sh

# Ignore Python cache files
**/__pycache__/

# Ignore documentation
docs/

# Ignore specific application directories
# meeseeks-api/

# (when needed) Ignore poetry lock files
poetry.lock


# Ignore codemod scripts
repo-to-prompt.codemod.js

# Ignore requirements file (if any)
requirements.txt
