[tool.poetry]
name = "meeseeks"
version = "0.1.0"
description = "Core module for Meeseeks - A powerful multi-LLM-agent assistant for complex tasks with support for tools integration."
authors = ["Krishnakanth Alagiri <https://github.com/bearlike>"]
license = "MIT"
readme = "README.md"
include = ["*.py"]
package-mode = false

[tool.poetry.dependencies]
python = "^3.10"
streamlit = "^1.34.0"
python-dotenv = "^1.0.1"
openai = "^1.28.0"
langchain = "^0.1.19"
langchain-openai = "^0.1.6"
langfuse = "^2.29.3"
jinja2 = "^3.1.4"
coloredlogs = "^15.0.1"
jq = "^1.7.0"
tiktoken = "^0.6.0"
meeseeks-api = { path = "./meeseeks-api", optional = true }
meeseeks-chat = { path = "./meeseeks-chat", optional = true }


[tool.poetry.group.dev.dependencies]
flake8 = "^7.0.0"
pytest = "^8.2.0"
autopep8 = "^2.1.0"
pylint = "^3.1.0"

[tool.poetry.extras]
api = ["meeseeks-api"]
chat = ["meeseeks-chat"]


[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
