[data-testid="stAppViewContainer"] {
    background-color: #ffffff;
    background-image: url('data:image/svg+xml,<svg id="visual" viewBox="0 0 960 540" width="960" height="540" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1"><rect x="0" y="0" width="960" height="540" fill="%23FFFFFF"></rect><defs><linearGradient id="grad1_0" x1="43.8%" y1="100%" x2="100%" y2="0%"><stop offset="14.444444444444446%" stop-color="%23ffffff" stop-opacity="1"></stop><stop offset="85.55555555555554%" stop-color="%23ffffff" stop-opacity="1"></stop></linearGradient></defs><defs><linearGradient id="grad2_0" x1="0%" y1="100%" x2="56.3%" y2="0%"><stop offset="14.444444444444446%" stop-color="%23ffffff" stop-opacity="1"></stop><stop offset="85.55555555555554%" stop-color="%23ffffff" stop-opacity="1"></stop></linearGradient></defs><g transform="translate(960, 540)"><path d="M-243 0C-239.4 -31.2 -235.7 -62.3 -224.5 -93C-213.3 -123.7 -194.5 -153.9 -168.3 -168.3C-142.1 -182.7 -108.5 -181.4 -79.2 -191.2C-49.9 -201.1 -25 -222 0 -243L0 0Z" fill="%2347a0df"></path></g><g transform="translate(0, 0)"><path d="M243 0C224.5 24.8 206.1 49.5 197.7 81.9C189.4 114.2 191.1 154.2 171.8 171.8C152.5 189.5 112.1 184.9 80 193.1C47.8 201.2 23.9 222.1 0 243L0 0Z" fill="%2347a0df"></path></g></svg>');
    background-attachment: fixed;
    background-size: cover;
}

[data-testid="stHeader"] {
    background-color: rgba(0, 0, 0, 0);
}

[data-testid="stBottom"] {
    background-color: #4a9c7c;
}

[data-testid="stChatInputTextArea"] {
    border: #4285f4;
    border-style: solid;
    border-width: thin;
    border-radius: 8px;
}
