name: Lint Checks

on:
  push:
    paths:
      - "**/*.py"
      - "pyproject.toml"
      - "poetry.lock"
      - ".github/workflows/lint.yml"
  pull_request:
  workflow_dispatch:

permissions:
  contents: read

jobs:
  lint:
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: "3.11"

      - name: Install Poetry
        run: |
          python -m pip install --upgrade pip
          python -m pip install poetry

      - name: Install dependencies
        run: poetry install

      - name: Ruff
        run: poetry run ruff check

      - name: Mypy
        run: poetry run mypy
